form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
}

.div-alerta {
    padding-bottom: 30px;
}

.div-item-obrigatorio {
    padding-top: 10px !important;
}