<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo(a) ao Challenge - Legacy POC <br>
        <strong>Banco Cap</strong>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema Bancário em Angular
    </mat-card-subtitle>
    
    <p class="informacoes">

        Equipe de Manutenção do Sistema
        <br>

        <i class="material-icons azul">contact_mail</i>
        <a href="https://github.com/mayararysia" target="_blank"> Mayara</a>
        <br>

        <i class="material-icons azul">contact_mail</i>
        <a href="http://github.com/gilton" target="_blank"> Gilton</a>
        <br>

        <i class="material-icons azul">contact_mail</i>
        <a href="#" target="_blank"> Hebrain</a>
        <br>

        <i class="material-icons azul" >contact_mail</i>
        <a href="#" target="_blank"> Igor</a>
        <br>

        <i class="material-icons azul">contact_mail</i>
        <a href="https://github.com/Wrossini2020/" target="_blank"> Wendresson</a>
        <br>
    </p>
</mat-card>
