<mat-card>
    <mat-card-title>Login</mat-card-title>
    <form #form="ngForm" (ngSubmit)="login(form)" novalidate>
       
        <mat-form-field appearance="fill">
            <input required matInput placeholder="Email: example@domain.com" type="email"
                [formControl]="email" required  [(ngModel)]="usuario.email" name="email">
            <mat-error *ngIf="email.invalid">
                    {{getErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Senha" type="password"
            [(ngModel)]="usuario.senha" name="senha" #senha="ngModel" ngModel required><br>
        </mat-form-field>
        
        <button mat-raised-button type="submit" color="primary" [disabled]="!form.form.valid || email.invalid">
            Logar
        </button>

        <p [hidden]="!error" class="alerta-erro"> {{ errorUsuarioInvalido}}</p>

        <br>
        <a mat-list-item routerLink="/usuario">
            Cadastro Usuario
        </a>
        <a mat-list-item routerLink="/recuperarSenha">
            Recuperar senha
        </a>
    </form>
</mat-card>