<mat-card>
    <div *ngIf="saqueForm.invalid && saqueForm.dirty"
        class="alert alert-danger div-item-obrigatorio">
        Preencha todos os campos corretamente!
    </div>

    <mat-card-title>Sacar</mat-card-title>
    <form  #saqueForm="ngForm" autocomplete="off" >
        <mat-label class="data-atual">{{dataAtual}}</mat-label>
        <br>
        <mat-form-field>
            <input matInput placeholder="Hash"  type="text"          
            required
            [(ngModel)]="saque.conta.hash" name="hash" #hash="ngModel"
            minlength="10" maxlength="10">
        </mat-form-field>
        <div [hidden]="hash.valid || hash.pristine"
            class="alert alert-danger div-item-obrigatorio">
            Hash é obrigatório e deve ter 10 caracteres!
        </div>
        <mat-form-field>
            <input matInput  placeholder="R$ "
            required
            min="1" max="2000.00" type="number"
            [(ngModel)]="saque.valor" name="valor" #valor="ngModel">
            <div [hidden]="valor.valid || valor.pristine"
                class="alert alert-danger div-item-obrigatorio">
                Valor é obrigatório e deve ser acima de R$ 0.00!
            </div>
        </mat-form-field>        
    </form>

    <button type="submit" mat-raised-button [disabled]="!saqueForm.form.valid"
            routerLink = '/saque-view' color="primary" (click)="sacar()">
            Salvar
    </button>

    <button mat-raised-button (click)="saqueForm.reset()">
        Cancelar
    </button>

</mat-card>
