<mat-card>
    <mat-card-title>Detalhes do Saque</mat-card-title>
    
    <mat-grid-list cols="2" rowHeight="8:1">
        <mat-grid-tile class="item"><strong>Data</strong></mat-grid-tile>
        <mat-grid-tile class="item-exibido">{{mock_saque.data}}</mat-grid-tile> 
        <mat-grid-tile class="item"><strong>Hash</strong></mat-grid-tile>
        <mat-grid-tile class="item-exibido">{{mock_saque.hash}}</mat-grid-tile>    
        <mat-grid-tile class="item"><strong>Valor:</strong></mat-grid-tile>
        <mat-grid-tile>{{mock_saque.valor}}</mat-grid-tile>       
    </mat-grid-list>

    <button mat-raised-button routerLink="/depositos" color="primary">
        Voltar
    </button>    
    
</mat-card>