<mat-card>
    <mat-card-title>Detalhes da Transferência</mat-card-title>
    
    <mat-grid-list cols="2" rowHeight="8:1">
        <mat-grid-tile class="item"><strong>Data</strong></mat-grid-tile>
        <mat-grid-tile class="item-exibido">{{mock_transferencia.data}}</mat-grid-tile>
        <mat-grid-tile class="item"><strong>Hash Conta Origem</strong></mat-grid-tile>
        <mat-grid-tile class="item-exibido">{{mock_transferencia.contaOrigem.hash}}</mat-grid-tile>    
        <mat-grid-tile class="item"><strong>Hash Conta Destino</strong></mat-grid-tile>
        <mat-grid-tile class="item-exibido">{{mock_transferencia.contaDestino.hash}}</mat-grid-tile>   
        <mat-grid-tile class="item"><strong>Valor:</strong></mat-grid-tile>
        <mat-grid-tile>{{mock_transferencia.valor}}</mat-grid-tile>       
    </mat-grid-list>

    <button mat-raised-button routerLink="/depositos" color="primary">
        Voltar
    </button>    
    
</mat-card>